#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  text-align: center;
}

#accordion {
  width: 1000px;
  align-self: center;
}

#searchBox {
  min-width: 300px;
}

#paginator {
  margin-top: 19px;
  display: flex;
  justify-content: right;
}

.add-domain-button{
  width: fit-content;
  align-self: center;
}

#user-list{
  margin-bottom: 10px;
}

#user-container{
  max-height: 250px;
  overflow: auto;
  text-align: center;
}







#template-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.align-center{
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.create-button, .update-button{
  margin-bottom: 5px;
}

.create-button:disabled, .update-button:disabled{
  background-color: rgba(122, 122, 122, 0.4) !important;
}
