.container {
  display:flex;
  flex-direction: column;
  align-items: center;
}

#table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
}

#searchBox {
  margin-top: 18px;
  min-width: 300px;
}

#paginator {
  margin-top: 19px;
  display: flex;
  justify-content: right;
}

.mat-row:hover {
  background-color: #E8EAF6;
  cursor: pointer;
}
