<div class="container">

  <div id="search">

    <mat-form-field class='searchBox' appearance="outline">
      <mat-label>Contracts</mat-label>
      <input #searchBox [ngModel]="searchTerm" (input)="search(searchBox.value)" matInput placeholder="Search..."/>
    </mat-form-field>


    <mat-form-field class="searchBox" appearance="outline">
      <mat-label>User Contracts</mat-label>
      <input type="text" matInput [formControl]="userContract" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" >
        <mat-option *ngFor="let username of filteredUsernames | slice : 0 : 5" [value]="username">{{username}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contract status</mat-label>
      <mat-select (selectionChange)="onStatusSearchChange($event)">
        <mat-option [value]="0">All</mat-option>
        <mat-option *ngFor="let status of statuses" [value]="status.ID">
          {{status.status}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>


<div id="table-container">
  <table mat-table [dataSource]="contractList" class="mat-elevation-z8">


    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let contract" >{{contract.title}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let contract" >{{contract.status.status}}</td>
    </ng-container>


    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Start Date</th>
      <td mat-cell *matCellDef="let contract" >{{contract.startDate | date}}</td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef>End Date</th>
      <td mat-cell *matCellDef="let contract" >{{contract.endDate | date}}</td>
    </ng-container>






    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/admin/contract/{{row.ID}}"></tr>

  </table>

  <div id="paginator">
    <mat-paginator [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                   (page)="onPaginationChange($event)" aria-label="Select page">
    </mat-paginator>
  </div>
</div>

</div>
