<div id="container">
  <a id="logo"><img src="../../assets/images/semco-light.webp" routerLink="/home"></a>
  <div *ngIf="true;" id="navbar">
    <a *ngIf="(loggedUserStatus$ | async) && (loggedUserStatus$ | async) == 'Admin'" routerLink="/users">Users</a>
    <a *ngIf="(loggedUserStatus$ | async) && (loggedUserStatus$ | async) == 'Admin'" routerLink="" [matMenuTriggerFor]="contractMenuAdmin">Contract</a>
    <a *ngIf="(loggedUserStatus$ | async) && (loggedUserStatus$ | async) != 'Admin'" routerLink="" [matMenuTriggerFor]="contractMenuUser">Contract</a>
    <a *ngIf="loggedUserStatus$ | async" routerLink="/profile/profilepage">Profile</a>
    <a *ngIf="!(loggedUserStatus$ | async)" routerLink="/register">Register</a>
    <a *ngIf="!(loggedUserStatus$ | async)"routerLink="/login">Sign in</a>
    <a *ngIf="loggedUserStatus$ | async" routerLink="/login">Sign out</a>
    <mat-menu #contractMenuAdmin="matMenu">
      <button mat-menu-item routerLink="/contract">New Contract</button>
      <button mat-menu-item>All Contracts</button>
    </mat-menu>
    <mat-menu #contractMenuUser="matMenu">
      <button mat-menu-item>Request Contract</button>
      <button mat-menu-item routerLink="/hiring">My Contracts</button>
    </mat-menu>
  </div>
</div>
