#container {
    display: flex;
    justify-content: center;
}

.formfield {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    width: fit-content;
    align-self: center;
    color: #103447;
}
