<h1>Wanna login?</h1>
<div id="container">
    <mat-form-field appearance="outline">
        <mat-label>Full name</mat-label>
        <input matInput placeholder="Name...">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password...">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Repeat password</mat-label>
        <input matInput placeholder="Password...">
    </mat-form-field>
    <button>Register</button>
</div>