#container {
    display: flex;
    justify-content: center;
}

#formfield {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 300px;
}

mat-form {
    display: flex;
    flex-direction: column;
}

button {
    width: fit-content;
    align-self: center;
    background-color: #103447;
    color: white;
}
