<div id="container">

  <div *ngIf="isActive && loginIsActive" class="formfield">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <mat-form-field appearance="outline">
        <mat-label>Full name</mat-label>
        <input formControlName="username" matInput placeholder="Name...">
        <mat-error>Username is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput placeholder="Password...">
        <mat-error>Password is required</mat-error>
      </mat-form-field>
      
      <a id="forgotButton" (click)="forgotLoginButton()">Forgot your password?</a>
      <mat-checkbox [checked]="saveLogin" [(ngModel)]="saveLogin" [ngModelOptions]="{standalone: true}" color="primary">Remember me</mat-checkbox>

      <button mat-raised-button type="submit" [disabled]="!loginForm.valid || loginLoad">Login</button>
    </form>
  </div>

  <div *ngIf="isActive && !loginIsActive && !passwordResetRequestIsSuccessful" class="formfield">
    <h1>Password Reset</h1>
    <p>We'll send a password reset link to your email account.</p>
    <form [formGroup]="resetForm" (ngSubmit)="sendPasswordResetLink()">

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="username" matInput placeholder="Name...">
        <mat-error>Email is required</mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="!resetForm.valid || passwordResetLoading">Reset password</button>
    </form>
  </div>

  <app-verification-card *ngIf="isActive && !loginIsActive && passwordResetRequestIsSuccessful" [showCheckmark]="false" [emailBold]="true" [header]="'Password Reset'" [text]="email"></app-verification-card>

  <div *ngIf="!isActive">
    <app-verification [email]="email"></app-verification>
  </div>

</div>