<div class="container">

  <div id="inputFields">

    <mat-form-field id='searchBox' appearance="outline">
      <mat-label>User mail</mat-label>
      <input #searchBox [ngModel]="searchTerm" (input)="search(searchBox.value)" matInput placeholder="Mail..."/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>User role</mat-label>
      <mat-select>
        <mat-option (onSelectionChange)="onRolesChange(role)" *ngFor="let role of roles">
          {{role.role}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>User status</mat-label>
      <mat-select>
        <mat-option (onSelectionChange)="onStatusChange(status)" *ngFor="let status of status" >
          {{status.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

<div id="table">
  <table mat-table [dataSource]="userList" class="mat-elevation-z8">

    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
    </ng-container>

    <ng-container matColumnDef="Username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="Role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let element"> {{element.role.role}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/profilepage/{{row.ID}}"></tr>

  </table>
</div>

  <div id="paginator">
    <mat-paginator [length]="pageLength"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onPaginationChange($event)"
                   aria-label="Select page">
    </mat-paginator>
  </div>

</div>





