.container {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

#inputFields, #table {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table {
  width: 80%;
}

td {
  cursor: pointer;
}

mat-form-field {
  margin: 16px 4px -4px 4px;
}

#searchBox {
  min-width: 300px;
}

#paginator {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

:host .mat-column-Role {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

:host .mat-column-Status:host {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
