<div class="container">

  <div id="inputFields">

    <mat-form-field id='searchBox' appearance="outline">
      <mat-label>User mail</mat-label>
      <input #searchBox [ngModel]="searchTerm" (input)="search(searchBox.value)" matInput placeholder="Mail..."/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>User role</mat-label>
      <mat-select>
        <mat-option (onSelectionChange)="onRolesSearchChange(role)" *ngFor="let role of roles">
          {{role.role}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>User status</mat-label>
      <mat-select>
        <mat-option (onSelectionChange)="onStatusSearchChange(status)" *ngFor="let status of statuses" >
          {{status.status}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

<div id="table">
  <table mat-table [dataSource]="userList" class="mat-elevation-z8">

    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
    </ng-container>

    <ng-container matColumnDef="Username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element">

        <mat-form-field appearance="outline">
          <mat-label>User role</mat-label>
          <mat-select (selectionChange)="onStatusChange(element, $event)" [(value)]="element.status.ID">
            <mat-option *ngFor="let status of selectableStatuses" [value]="status.ID">
              {{status.status}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </td>
    </ng-container>

    <ng-container matColumnDef="Role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let element">

        <mat-form-field appearance="outline">
          <mat-label>User role</mat-label>
          <mat-select (selectionChange)="onRolesChange(element, $event)" [(value)]="element.role.ID">
            <mat-option *ngFor="let role of selectableRoles" [value]="role.ID">
              {{role.role}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

  </table>
</div>

  <div id="paginator">
    <mat-paginator [length]="pageLength"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onPaginationChange($event)"
                   aria-label="Select page">
    </mat-paginator>
  </div>

</div>





