#container, #main-section, #select-contract {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  text-align: center;
}

#dropdown {
  flex-direction: row;
}

#contract-status, .selected-contract {
  margin-right: 24px;
}

.confirmButton, .declineButton{
  width: fit-content;
  align-self: center;
}

.comment-button{
  align-self: center;
  width: 300px;
}

.comment-button, .renewal-button{
  margin-bottom: 15px;
}

.confirmButton:disabled{
  color: #ffffff;
  background: rgba(98, 98, 98, 0.22);
  opacity: 85%;
}

.declineButton{
  margin-right: 24px;
}

#reply {
  margin: 24px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-field {
  align-self: center;
  width: 80%;
  margin-top: 2rem;
}

#resume-list{
  text-align: left;
}
