<div id="container" *ngIf="!isContractFinished">
  <h1>Resources to choose from</h1>
  <h1 *ngIf="!hasContract">You do not have any contracts...</h1>
  <div *ngIf="hasContract" id="select-contract">
    <mat-form-field appearance="fill">
      <mat-label>Select Contract</mat-label>
      <mat-select (selectionChange)="contractSelect($event)">
        <mat-option *ngFor="let contract of contracts" [value]="contract.ID">{{contract.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="!selectedContract && !loading">
      <h3>Please select a contract from the dropdown!</h3>
    </div>
  </div>

  <div id="main-section" *ngIf="selectedContract && !loading">

    <h2 style="text-align: center">{{selectedContract.title}} <mat-divider></mat-divider>{{selectedContract.startDate | date}} - {{selectedContract.endDate | date}}<h2 style="text-align: center">Status: {{selectedContract.status.status}}</h2></h2>

    <app-resume-list [isAdminPage]="false" [displayPagination]="false" [displaySelect]="displaySelect" [resumesObservable]="resumesToDisplayObservable" (selectedResumesEmitter)="updateResumeCheckedList($event)"></app-resume-list>

    <mat-form-field class="form-field notices" appearance="outline">
      <mat-label>Further notices</mat-label>
      <textarea matInput [value]="selectedContract.description" [disabled]="true" #input maxlength="500"></textarea>
      <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
    </mat-form-field>

    <div id="reply" *ngIf="displaySelect">
      <button (click)="openDialog(declineTemplate)" id="declineButton" mat-raised-button>Decline contract</button>
      <button mat-raised-button id="confirmButton" (click)="openDialog(confirmTemplate)" [disabled]="selectedResumes.length <= 0">Accept contract</button>
    </div>

    <div *ngIf="!displaySelect">
      <p>This contract has already been confirmed. You can still read about the selected resumes above!</p>
    </div>
  </div>

  <div *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

</div>

<app-verification-card *ngIf="isContractFinished && isContractAccepted" [showCheckmark]="true" [showReturnFrontpageButton]="true" [header]="'Contract has been accepted'" [text]="'You have successfully accepted your contract! An administrator from Semco Maritime' +
 ' will contact you shortly regarding the hiring process.'"></app-verification-card>

<app-verification-card *ngIf="isContractFinished && !isContractAccepted" [showCancel]="true" [showReturnFrontpageButton]="true" [header]="'Contract has been declined'" [text]="'You have successfully declined your contract. Please contact Semco Maritime if you have any problems or additional wishes.'"></app-verification-card>

<ng-template #confirmTemplate>

  <h1 mat-dialog-title>Contract confirmation</h1>

  <div mat-dialog-content>
    <p *ngIf="selectedResumes.length == 1">Is this the final <b>{{selectedResumes.length}}</b> resume that you want confirmed?</p>
    <p *ngIf="selectedResumes.length > 1">Are these the final <b>{{selectedResumes.length}}</b> resumes that you want confirmed?</p>
  </div>

  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="confirmContract(true)" [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
  </mat-dialog-actions>

</ng-template>

<ng-template #declineTemplate>

  <h1 mat-dialog-title>Contract decline</h1>

  <div mat-dialog-content>
    <p>Are you sure that you want to decline contract <b>{{selectedContract.title}}</b>?</p>
  </div>

  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="confirmContract(false)" [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
  </mat-dialog-actions>

</ng-template>
