#container, #main-section, #select-contract {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

#confirmButton, #declineButton{
  width: fit-content;
  align-self: center;
}

#confirmButton{
  color: #ffffff;
  background: #4ad52a;
  opacity: 85%;
}

#confirmButton:disabled{
  color: #ffffff;
  background: rgba(98, 98, 98, 0.22);
  opacity: 85%;
}

#declineButton{
  color: #ffffff;
  background: #d52a2a;
  opacity: 85%;
  margin-right: 5px;
}

#reply {
  margin: 24px;
}

.form-field {
  align-self: center;
  width: 80%;
  margin-top: 2rem;
}
