<div id="container" *ngIf="!isContractFinished">
  <h1>Resources to choose from</h1>
  <mat-checkbox [formControl]="displayContractDomains" color="primary">Display domain contracts</mat-checkbox>
  <div id="select-contract">
    <div id="dropdown">
      <mat-form-field id="contract-status" appearance="outline">
        <mat-label>Contract Status</mat-label>
        <mat-select (selectionChange)="contractStatusSelect($event.value)" [value]="0">
          <mat-option [value]="0">All</mat-option>
          <mat-option *ngFor="let status of statuses" [value]="status.ID">{{status.status}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="selected-contract" *ngIf="hasContract" appearance="outline">
        <mat-label>Select Contract</mat-label>
        <mat-select (selectionChange)="contractSelect()" [formControl]="contractSelectForm">
          <mat-option *ngFor="let contract of contracts" [value]="contract.ID">{{contract.title}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="selected-contract" *ngIf="!hasContract" appearance="outline">
        <mat-label>No contract with status</mat-label>
        <mat-select [disabled]="true"></mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="hasDomainContract && displayContractDomains.value" appearance="outline">
        <mat-label>Select Domain Contract</mat-label>
        <mat-select (selectionChange)="contractDomainSelect()" [formControl]="domainContractSelectForm">
          <mat-option *ngFor="let contract of domainContracts" [value]="contract.ID">{{contract.title}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="!hasDomainContract && displayContractDomains.value" appearance="outline">
        <mat-label>No contract with status</mat-label>
        <mat-select [disabled]="true"></mat-select>
      </mat-form-field>


      <div *ngIf="!selectedContract && !loading">
        <h3>Please select a contract from the dropdown!</h3>
      </div>
    </div>
  </div>

  <h1 *ngIf="!hasContract">You do not have any contracts with this status...</h1>

  <div id="main-section" *ngIf="selectedContract && !loading">

    <h2 style="text-align: center">{{selectedContract.title}} <mat-divider></mat-divider>{{selectedContract.startDate |
      date}} - {{selectedContract.endDate | date}}<h2 style="text-align: center">Status:
        {{selectedContract.status.status}}</h2>
    </h2>

    <app-resume-list id="resume-list" [isAdminPage]="false" [displayPagination]="false" [displaySelect]="displaySelect" [displayInserted]="displayInserted"
      [resumesObservable]="resumesToDisplayObservable" (selectedResumesEmitter)="updateResumeCheckedList($event)">
    </app-resume-list>

    <mat-form-field *ngIf="selectedContract.resumeRequests.length > 0" id="user-requests" floatLabel="always" appearance="outline">
      <mat-label>User requests</mat-label>
      <mat-chip-list #chipList aria-label="User requests">
        <mat-chip id="occupation" *ngFor="let resumeRequest of selectedContract.resumeRequests">{{resumeRequest.occupation}}: {{resumeRequest.count}}</mat-chip>
      </mat-chip-list>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Further notices</mat-label>
      <textarea matInput [value]="selectedContract.description" [disabled]="true"></textarea>
    </mat-form-field>

    <form *ngIf="hasBeenCompleted" [formGroup]="commentForm" (ngSubmit)="leaveComment()">

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Leave a comment</mat-label>
        <textarea formControlName="comment" matInput #input maxlength="500"></textarea>
        <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
      </mat-form-field>

      <button mat-raised-button class="comment-button primary-color" type="submit"
        [disabled]="!commentForm.valid || isCommentsIdentical">Leave comment</button>

    </form>

    <div id="reply" *ngIf="displaySelect && !hasBeenSelectedFromDomain">
      <button (click)="openDialog(declineTemplate)" class="declineButton delete-color" mat-raised-button>Decline contract</button>
      <button mat-raised-button class="confirmButton primary-color" (click)="openDialog(confirmTemplate)"
        [disabled]="selectedResumes.length <= 0">Accept contract</button>
    </div>

    <div id="renewal" *ngIf="displayRenewButton">
      <button *ngIf="!hasBeenSelectedFromDomain" mat-raised-button class="renewal-button primary-color" (click)="requestRenewal()" [disabled]="renewalLoading">Request renewal</button>
      <p>This contract has been expired. You can request for the contract to be renewed.</p>
    </div>

    <div *ngIf="hasBeenAccepted">
      <p>This contract has been accepted. You can still read about the selected resumes above.</p>
    </div>

    <div *ngIf="hasBeenCompleted">
      <p>This contract has been completed. You can still read about the selected resumes or leave a comment about the
        general experience above.</p>
    </div>

  </div>


  <div *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

</div>

<app-verification-card *ngIf="isContractFinished && isContractAccepted" [showCheckmark]="true"
  [showReturnFrontpageButton]="true" [header]="'Contract has been accepted'" [text]="'You have successfully accepted your contract! An administrator from Semco Maritime' +
 ' will contact you shortly regarding the hiring process.'"></app-verification-card>

<app-verification-card *ngIf="isContractFinished && !isContractAccepted && !isContractRenewed" [showCancel]="true"
  [showReturnFrontpageButton]="true" [header]="'Contract has been declined'"
  [text]="'You have successfully declined your contract. Please contact Semco Maritime if you have any problems or additional wishes.'">
</app-verification-card>

<app-verification-card *ngIf="isContractFinished && isContractRenewed" [showCheckmark]="true"
  [showReturnFrontpageButton]="true" [header]="'Renewal request is sent'" [text]="'You have successfully requested a renewal of your contract! An administrator from Semco Maritime' +
 ' will contact you shortly regarding the hiring process.'"></app-verification-card>

<ng-template #confirmTemplate>

  <h1 mat-dialog-title>Contract confirmation</h1>

  <div mat-dialog-content>
    <p *ngIf="selectedResumes.length == 1">Is this the final <b>{{selectedResumes.length}}</b> resume that you want
      confirmed?</p>
    <p *ngIf="selectedResumes.length > 1">Are these the final <b>{{selectedResumes.length}}</b> resumes that you want
      confirmed?</p>
  </div>

  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Cancel</button>
    <button class="primary-color" mat-button (click)="confirmContract(true)" [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
  </mat-dialog-actions>

</ng-template>

<ng-template #declineTemplate>

  <h1 mat-dialog-title>Contract decline</h1>

  <div mat-dialog-content>
    <p>Are you sure that you want to decline contract <b>{{selectedContract.title}}</b>?</p>
  </div>

  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Cancel</button>
    <button class="delete-color" mat-button (click)="confirmContract(false)" [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
  </mat-dialog-actions>

</ng-template>
