#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #103447;
  height: 100%;
}

h1 {
  position: absolute;
  color: white;
  font-size: 70px;
  top: 40px;
}

h2 {
  position: absolute;
  color: white;
  font-size: 32px;
  top: 600px;
}



// ***ANIMATION***
#animation {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 1000px;
}

#logo, #logo2, #logo3 {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  animation-name: logo;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
}

#logo2 {
  animation-delay: 20s;
}

#logo3 {
  animation-delay: 40s;
}

@keyframes logo {
  0% {opacity: 0; transform: scale(1);}
  5% {opacity: .5; transform: scale(1);}
  30% {opacity: .5; transform: scale(1.1);}
  40%, 100% {opacity: 0; transform: scale(1.1);}
}



// // ***SCROLLING ANIMATION***
// #logo, #logo2, #logo3 {
//   width: 1600px;
//   position: absolute;
//   animation-name: logo;
//   animation-duration: 60s;
//   animation-iteration-count: infinite;
//   animation-timing-function: linear;
//   transform-origin: center right;
//   // filter: blur(2px);
//   // -webkit-filter: blur(2px);
// }

// #logo {
//   animation-delay: -40s;
// }

// #logo2 {
//   animation-delay: -20s;
// }

// @keyframes logo {
//   0% {left: 3190px}
//   100% {left: -1590px}
// }
