<div id="container">
  <div id="animation">
    <img id="logo" src="../../assets/images/pexels-norsk-platform.jpg">
    <img id="logo2" src="../../assets/images/pexels-statoil-platform.jpg">
    <img id="logo3" src="../../assets/images/pexels-windmills.jpg">
  <h1><b>Welcome to Semco Maritime<br><br><br>Resource Management</b></h1>
  <h2>The easy solution to a big job!<br>
    An option to request contracts regarding jobs,<br>
    with a broad selection of great candidates.</h2>
  </div>
</div>
