<div id="container">
    <div id="verify-field">
        <h1>You need to verify your account via email</h1>

        <mat-form-field appearance="outline">
            <mat-label>Verification code</mat-label>
            <input matInput placeholder="Verify...">
        </mat-form-field>

        <button mat-raised-button>Verify</button>
    </div>

    <div id="email-field">
        <h2>Code sent to: "Email here"</h2>
        <h2>Did not recieve email? Send new code here.</h2>
        <button mat-raised-button>Send new code</button>
    </div>
</div>