<div id="container" *ngIf="user">
  <div id="form-fields">
    <h1>{{user.username}}</h1>

    <form [formGroup]="updateForm" #formDirective="ngForm" (ngSubmit)="update(formDirective)">

      <mat-form-field appearance="outline">
        <mat-label>Old password</mat-label>
        <input type="password" formControlName="oldPassword" matInput placeholder="Password...">
        <mat-error>Password is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>New password</mat-label>
        <input type="password" formControlName="password" matInput placeholder="Password...">
        <mat-error>Password is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Repeat new password</mat-label>
        <input type="password" formControlName="passwordConfirm" matInput placeholder="Password...">
        <mat-error>Password is required</mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="!updateForm.valid || passwordUpdated">Update password</button>
    </form>
  </div>
</div>