<div id="container">

  <div *ngIf="contractLoad">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!contractLoad && invalidID">
    <h3>Invalid contract ID entered</h3>
  </div>

  <mat-stepper *ngIf="!contractLoad && !invalidID" #stepper [linear]="false">

    <mat-step [stepControl]="firstFormGroup" label="Contract Information">

      <form [formGroup]="firstFormGroup">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Contract title</mat-label>
          <input matInput placeholder="Insert title..." formControlName="contractTitle" required>
        </mat-form-field>

        <app-userlist [isSelectable]="true" [selectedUsersObservable]="selectedUsersObservable" (selectedUsersEmitter)="updateUserCheckedList($event)"></app-userlist>

        <mat-form-field class="form-field" floatLabel="always" appearance="outline">
          <mat-label>Selected users</mat-label>
          <mat-chip-list #chipList aria-label="User selection">
            <mat-chip id="registered" *ngFor="let user of selectedUsers" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(user, selectedUsers)">
              {{user.username}}
              <button matChipRemove *ngIf="removable">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>

            <mat-chip id="unregistered" *ngFor="let user of selectedUnregisteredUsers" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(user, selectedUnregisteredUsers)">
              {{user.username}}
              <button matChipRemove *ngIf="removable">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <button id="add-button" mat-raised-button aria-label="Example icon button with a delete icon"
                    (click)="openNewUserInput(createTemplate)">
              Add new user
              <mat-icon id="add-icon">add_circle</mat-icon>
            </button>
          </mat-chip-list>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="firstFormGroup" [rangePicker]="picker">
            <input matStartDate formControlName="startDate" placeholder="Start date">
            <input matEndDate formControlName="endDate" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error *ngIf="firstFormGroup.controls.startDate.hasError('matStartDateInvalid')">Invalid start date
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls.endDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>

        <button matStepperNext mat-raised-button class="active-button" type="submit" [disabled]="!firstFormGroup.valid || contractSave">Next Step</button>

      </form>

    </mat-step>

    <mat-step label="Resumes">
      <form [formGroup]="secondFormGroup">

        <app-resume-list [isAdminPage]="true" [displayPagination]="true" [displaySelect]="true" [displayResumeCountInfo]="true" [selectedResumesObservable]="selectedResumesObservable" (selectedResumesEmitter)="updateResumeCheckedList($event)"></app-resume-list>
        <button matStepperNext mat-raised-button class="active-button" type="submit" [disabled]="!secondFormGroup.valid || contractSave">Next Step</button>
      </form>
    </mat-step>

    <mat-step label="Confirmation">
      <form [formGroup]="thirdFormGroup" (ngSubmit)="saveContract()">


          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Select Contract</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let status of contractStatuses" [value]="status.ID">{{status.status}}</mat-option>
            </mat-select>
          </mat-form-field>

        <button mat-raised-button *ngIf="!updateView" class="create-button" type="submit" [disabled]="!firstFormGroup.valid || !secondFormGroup.valid || !thirdFormGroup.valid || contractSave">Create contract</button>
        <button mat-raised-button *ngIf="updateView" class="create-button" type="submit" [disabled]="!firstFormGroup.valid || !secondFormGroup.valid || !thirdFormGroup.valid || contractSave">Update contract</button>
        <mat-progress-bar *ngIf="contractSave" id="progress-bar" mode="indeterminate"></mat-progress-bar>

      </form>
    </mat-step>


  </mat-stepper>
</div>

<ng-template #createTemplate>

  <h1 mat-dialog-title>Register new User</h1>

  <div mat-dialog-content id="template-container">

      <form #formDirective="ngForm" [formGroup]="registerUserForm" (ngSubmit)="addNewUser(formDirective)">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput placeholder="Username...">
          <mat-error>Username must be a valid e-mail</mat-error>
        </mat-form-field>

        <button id="register-button" mat-raised-button type="submit" [disabled]="!registerUserForm.valid">Register</button>
      </form>
  </div>

</ng-template>
