<div id="container">

  <div *ngIf="contractLoad">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!contractLoad && invalidID">
    <h3>Invalid contract ID entered</h3>
  </div>

  <h1 *ngIf="!updateView">New contract</h1>
  <h1 *ngIf="updateView">Update contract</h1>
  <mat-stepper id="stepper" *ngIf="!contractLoad && !invalidID" #stepper [linear]="!updateView">

    <mat-step [stepControl]="firstFormGroup" label="Contract Information">

      <form [formGroup]="firstFormGroup">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Contract title</mat-label>
          <input matInput placeholder="Insert title..." formControlName="contractTitle">
        </mat-form-field>

        <app-user-list [isSelectable]="true" [displayAddUserButton]="false" [displayLoad]="false" [selectedUsersObservable]="selectedUsersObservable" [openInputObservable]="requestUserFormObservable" (selectedUsersEmitter)="updateUserCheckedList($event)"></app-user-list>

        <mat-form-field class="form-field" floatLabel="always" appearance="outline">
          <mat-label>Selected users</mat-label>
          <mat-chip-list #chipList aria-label="User selection">
            <mat-chip id="registered" *ngFor="let user of selectedUsers" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(user, selectedUsers)">
              {{user.username}}
              <button matChipRemove *ngIf="removable">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <button id="add-button" mat-raised-button aria-label="Example icon button with a delete icon"
                    (click)="requestUserForm()">
              Add new user
              <mat-icon id="add-icon">add_circle</mat-icon>
            </button>
          </mat-chip-list>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="firstFormGroup" [rangePicker]="picker">
            <input matStartDate formControlName="startDate" placeholder="Start date">
            <input matEndDate formControlName="endDate" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error *ngIf="firstFormGroup.controls.startDate.hasError('matStartDateInvalid')">Invalid start date
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls.endDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field notices" appearance="outline">
          <mat-label>Further notices</mat-label>
          <textarea matInput formControlName="description" #input maxlength="500"></textarea>
          <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
        </mat-form-field>

        <button matStepperNext mat-raised-button class="active-button" type="submit" [disabled]="!firstFormGroup.valid || contractSave">Next Step</button>

      </form>

    </mat-step>

    <mat-step label="Resumes">
      <form [formGroup]="secondFormGroup">

        <app-resume-list [isAdminPage]="true" [displayAll]="true" [displayPagination]="true" [displaySelect]="true" [displayResumeCountInfo]="true"
                         [resumesObservable]="selectedResumesObservable" [excludeContractID]="(this.updateView && this.contract != undefined) ? this.contract.ID : 0"
                         [startDateControl]="firstFormGroup.get('startDate')" [endDateControl]="firstFormGroup.get('endDate')"
                         (selectedResumesEmitter)="updateResumeCheckedList($event)">
        </app-resume-list>

        <mat-form-field id="user-requests" *ngIf="updateView" floatLabel="always" appearance="outline">
          <mat-label>User requests</mat-label>
          <mat-chip-list *ngIf="updateView" #chipList aria-label="User requests">
            <mat-chip id="occupation" *ngFor="let resumeRequest of contract.resumeRequests">{{resumeRequest.occupation}}: {{resumeRequest.count}}</mat-chip>
          </mat-chip-list>
        </mat-form-field>

        <button matStepperNext mat-raised-button class="active-button" type="submit" [disabled]="!secondFormGroup.valid || contractSave">Next Step</button>
      </form>
    </mat-step>

    <mat-step label="Confirmation">

      <form [formGroup]="thirdFormGroup" (ngSubmit)="saveContract()">


        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Select contract status</mat-label>
          <mat-select formControlName="status" (selectionChange)="contractStatusUpdate($event.value)">
            <mat-option *ngFor="let status of contractStatuses" [value]="status.ID">{{status.status}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="isDueDateRequired" class="form-field" appearance="outline">
          <mat-label>Select user due date</mat-label>
          <input matInput formControlName="dueDate" [matDatepicker]="dueDate">
          <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
          <mat-datepicker #dueDate></mat-datepicker>
          <mat-error>Invalid end date</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Display contract to domain users</mat-label>
          <mat-select formControlName="isVisibleToDomainUsers" [value]="false">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>

        <div id="domain-container" *ngIf="thirdFormGroup.get('isVisibleToDomainUsers').value">

          <app-whitelist-overview [SelectedDomainsObservable]="selectedDomainsObservable" (selectedDomainsEmitter)="updateDomainsCheckList($event)"></app-whitelist-overview>

          <mat-form-field class="form-field" floatLabel="always" appearance="outline">
            <mat-label>Selected domains</mat-label>
            <mat-chip-list aria-label="User selection">
              <mat-chip *ngFor="let domain of selectedDomains" [selectable]="selectable"
                        [removable]="removable" (removed)="remove(domain, selectedDomains)">
                {{domain.domain}}
                <button matChipRemove *ngIf="removable">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>

            </mat-chip-list>
          </mat-form-field>

        </div>

        <button mat-raised-button *ngIf="!updateView" class="create-button" type="submit" [disabled]="!firstFormGroup.valid || !secondFormGroup.valid || !thirdFormGroup.valid || contractSave">Create contract</button>
        <button mat-raised-button *ngIf="updateView" class="create-button" type="submit" [disabled]="!firstFormGroup.valid || !secondFormGroup.valid || !thirdFormGroup.valid || contractSave">Update contract</button>
        <mat-progress-bar *ngIf="contractSave" id="progress-bar" mode="indeterminate"></mat-progress-bar>

      </form>
    </mat-step>

  </mat-stepper>
</div>

