<div class="container">
  <h1>Users list</h1>
  <div id="input-fields">

    <mat-form-field id='searchBox' appearance="outline">
      <mat-label>User mail</mat-label>
      <input #searchBox [ngModel]="searchTerm" (input)="search(searchBox.value)" matInput placeholder="Mail..." />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>User status</mat-label>
      <mat-select (selectionChange)="onStatusSearchChange($event)" [value]="0">
        <mat-option [value]="0">All</mat-option>
        <mat-option *ngFor="let status of statuses" [value]="status.ID">
          {{status.status}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>User role</mat-label>
    <mat-select (selectionChange)="onRolesSearchChange($event)" [value]="0">
      <mat-option [value]="0">All</mat-option>
      <mat-option *ngFor="let role of roles" [value]="role.ID">
        {{role.role}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </div>

  <div id="table">
    <table mat-table [dataSource]="userList" class="mat-elevation-z8">

      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> ID</th>
        <td mat-cell *matCellDef="let user"> {{user.ID}} </td>
      </ng-container>

      <ng-container matColumnDef="Username">
        <th mat-header-cell *matHeaderCellDef> Username</th>
        <td mat-cell *matCellDef="let user"> {{user.username}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let user">

          <mat-form-field *ngIf="!isSelectable" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select (selectionChange)="onStatusChange(user, $event)" [(value)]="user.status.ID">
              <mat-option *ngFor="let status of statuses" [value]="status.ID">
                {{status.status}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <p *ngIf="isSelectable">{{user.status.status}}</p>

        </td>
      </ng-container>

      <ng-container matColumnDef="Role">
        <th mat-header-cell *matHeaderCellDef> Role</th>
        <td mat-cell *matCellDef="let user">

          <mat-form-field *ngIf="!isSelectable" appearance="outline">
            <mat-label>User role</mat-label>
            <mat-select (selectionChange)="onRolesChange(user, $event)" [(value)]="user.role.ID">
              <mat-option *ngFor="let role of roles" [value]="role.ID">
                {{role.role}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <p *ngIf="isSelectable">{{user.role.role}}</p>

        </td>
      </ng-container>

      <ng-container *ngIf="isSelectable" matColumnDef="Select">
        <th mat-header-cell *matHeaderCellDef> Select</th>
        <td mat-cell *matCellDef="let user">
          <mat-checkbox [checked]="isChecked(user)" (change)="checkChange(user, $event)" color="primary"></mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div id="paginator">
      <mat-paginator [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="onPaginationChange($event)" aria-label="Select page">
      </mat-paginator>
    </div>
  </div>

  <app-register-user-form [displayAddUserButton]="displayAddUserButton" [openInputObservable]="openInputObservable" (createdUserEmitter)="addUser($event)">
  </app-register-user-form>

</div>
