<h1 class="align-center" mat-dialog-title>Register new User</h1>

<div mat-dialog-content id="template-container">

  <form #formDirective="ngForm" [formGroup]="registerUserForm" (ngSubmit)="addNewUser(formDirective)">
    <mat-form-field appearance="outline">
      <mat-label>e-mail</mat-label>
      <input type="email" formControlName="username" matInput placeholder="Username...">
      <mat-error>e-mail is required</mat-error>
    </mat-form-field>

    <button class="register-button primary-color" mat-raised-button type="submit" [mat-dialog-close]="registerUserForm.value.username" [disabled]="!registerUserForm.valid">Register</button>
  </form>
</div>


