form {
  display: flex;
  flex-direction: column;
}

.align-center{
  text-align: center;
}

.register-button{
  margin-bottom: 5px;
}

.register-button:disabled{
  background-color: rgba(122, 122, 122, 0.4) !important;
}
