#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1300px;
}


h3 {
  margin: 0;
}

#occupation-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
}

.occupation-formfield {
  align-self: center;
  width: 49%;
}

#requested-resumes {
  margin-top: 12px;
}

.form-field {
  align-self: center;
  width: 80%;
}

.notices {
  margin-top: 24px;
}

.register-button{
  margin-bottom: 5px;
}

.register-button:disabled{
  background-color: rgba(122, 122, 122, 0.4) !important;
}

button {
  width: 150px;
}
