<div *ngIf="!requestComplete" id="container">
  <h1>Request Contract</h1>

  <form id="form" [formGroup]="requestForm" (ngSubmit)="createContractRequest()">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Contract title</mat-label>
      <input type="text" matInput placeholder="Insert title..." formControlName="contractTitle">
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="requestForm" [rangePicker]="picker">
        <input matStartDate formControlName="startDate" placeholder="Start date">
        <input matEndDate formControlName="endDate" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="requestForm.controls.startDate.hasError('matStartDateInvalid')">Invalid start date
      </mat-error>
      <mat-error *ngIf="requestForm.controls.endDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>

    <form id="occupation-form" [formGroup]="occupationForm" #formDirective="ngForm"
      (ngSubmit)="createOccupation(formDirective)">

      <mat-form-field appearance="outline">
        <mat-label>Occupation</mat-label>
        <input type="text" matInput formControlName="occupation">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input type="number" matInput formControlName="amount">
      </mat-form-field>

      <button class="primary-color" mat-raised-button type="submit" [disabled]="!occupationForm.valid">Add</button>
    </form>

    <div id="requested-resumes">
      <mat-chip-list #chipList aria-label="User selection">
        <mat-chip id="occupation" *ngFor="let occupation of occupation" [selectable]="true" [removable]="true"
          (removed)="removeOccupation(occupation)">
          {{occupation.occupation}}: {{occupation.count}}
          <button matChipRemove *ngIf="true">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
    </div>

    <mat-form-field class="form-field notices" appearance="outline">
      <mat-label>Further notices</mat-label>
      <textarea matInput formControlName="description" #input maxlength="500"></textarea>
      <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
    </mat-form-field>
    <button class="register-button primary-color" mat-raised-button type="submit" [disabled]="!requestForm.valid || contractSave">Request Contract</button>
  </form>
</div>

<app-verification-card  *ngIf="requestComplete" [showCheckmark]="true" [contractBold]="true" [showReturnFrontpageButton]="true" [header]="'Contract has been requested'" [text]="savedContract.title"></app-verification-card>
